// Colours
$bodyColour: #2f8ca3;
$headingColour: darken($bodyColour, 5%);
$linkColour: #f4af2d;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fffffe;

$backgroundColour: #193f4a;
$codeBackgroundColour: darken($backgroundColour, 5%);
