// Colours
$captionColour: #26b4ca ;
$headingColour: darken($captionColour, 15%);
$bodyColour: lighten($headingColour, 40%);
$linkColour: #f4af2d;
$hoverColour: darken($linkColour, 10%);
$white: #fffffe;

$backgroundColour: #030504;
$codeBackgroundColour: darken($backgroundColour, 5%);
// 00a8ff 00eaff 26b4ca 59b4c7 #DF7212
